.info-lane {
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin-top: 0;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
  color: $cor03;
  padding: 0 40px;
  
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.help {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: space-between;
}

.help__desc {
  color:$cor03;
  font-size: 11px;
}

.help__link {
  color: $cor03;
  font-size: 11px;
  margin-left: 3px;
}

.help__icon {
  margin-right: 5px;
}

.info-list {
  align-items: center;
  display: flex;
}

.info-list__item {
  align-items: center;
  display: flex;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}


.info-list__title,
.info-list__desc {
  color: $cor03;
  font-size: 11px;
  
}

.info-list__title {
  align-items: center;
  display: inline-flex;
}

.info-list__desc {
  color: $cor01;
  margin-left: 3px;
}

.info-list__icon {
  fill: $cor01;
  height: 18px;
  margin-right: 5px;
  width: 18px;
}

.icon--question {
  fill: $cor01;
  height: 15px;
  width: 15px;
}
