/*
 * Tray Commerce Reset
 */
/* line 6, ../sass/bkp/reset.scss */
.page-content .container {
  width: auto;
}

/* line 17, ../sass/bkp/reset.scss */
.bottom,
.topBorder,
.leftCorner2,
.bLeft,
.bRight,
#miniad,
.stripe {
  display: none;
}

/* line 41, ../sass/bkp/reset.scss */
.container,
.container2,
.container3,
#title,
#esquerda,
#direita,
#visualAbas,
#visualAbas li,
#visualAbas li a,
#foto_p,
#colFotos,
#colVideo,
#col3D,
#ProdAbas,
.prodBox,
#ProdAbas li,
#ProdAbas .aberta,
#ProdAbas li a,
#ProdAbas .aberta a,
.visitados {
  background: none;
  border: 0;
}

/* line 47, ../sass/bkp/reset.scss */
#visualAbas {
  display: block;
  width: auto;
}

/* line 52, ../sass/bkp/reset.scss */
#visualAbas li {
  display: inline-block;
  float: none;
}

/* line 59, ../sass/bkp/reset.scss */
#colFotos,
#colVideo,
#col3D {
  display: block;
  width: auto;
}

/* line 64, ../sass/bkp/reset.scss */
#foto_p {
  width: auto;
}

/* line 69, ../sass/bkp/reset.scss */
#ProdAbas,
#ProdBlock {
  display: block;
  width: auto;
}
