#nav_bar {
  position: relative;

  @media(max-width: 1199px) {
    .nav-cabecalho-mobile-wrapper {
      padding: 15px;
      width: 100%;

      .login-box {
        padding: 0;

        .texto-cima {
          display: block;
          margin-bottom: 3px;

          &, span {
            color: #787878;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -.1px;
            line-height: 11px;
            text-transform: uppercase;
          }
        }

        .texto-baixo {
          &, a {
            color: white;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .nv-01 {
    border-top: 1px solid #f3f3f3;

    @media(min-width: 1200px) {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
    }

    > li {
      position: static;

      @media(min-width: 1200px) {
        flex: 1 1 80px;

        &:hover {
          > a {
            border-color: $cor01;
            color: $cor01;
          }
        }
      }

      .dropdown-switcher {
        box-shadow: 0 0 0 1px #f6f6f6;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        padding: 25px 0;
        top: 100%;
        margin-top: -2px;
        width: 100%;
      }

      > a {
        align-items: center;
        border-bottom: 2px solid transparent;
        color: #787878;
        display: inline-flex;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -.1px;
        line-height: 11px;
        height: 50px;
        padding: 0 5px;
        position: relative;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
        z-index: 300;

        @media(max-width: 1199px) {
          color: #7f7f7f;
          text-align: left;
        }
      }

      @media(min-width: 991px) {
        &:nth-last-child(2),
        &:nth-last-child(1) {
          .dropdown-switcher {
            left: auto;
            right: 0;
            a {
            }
            .dropdown-switcher {
              left: auto;
              right: 100%;
            }
          }
        }
      }
    }

    > .all_departments {
      flex: 0 0 70px;

      svg {
        flex: 0 0 auto;
      }


      > a {
        color: $cor01;
        font-size: 9px;
        line-height: 9px;
      }

      ul.nv-02 {
        column-count: 4;
      }

    }
  }

  div.nv-02 {
    @extend .center;
    display: flex;
    align-items: stretch;
  }

  ul.nv-02 {
    flex: 1 1 auto;
    display: block;
    column-count: 2;
  }

  .nv-02 {
    > li {
      display: block;
      margin-bottom: 15px;
      padding: 0 5px;
      text-align: left;

      > a {
        color: #7f7f7f;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        padding: 0;
        text-transform: none;
        transition: all 150ms ease-in-out;
        white-space: nowrap;

        &:hover {
          color: $cor01;
        }
      }
    }
  }


  .nv-03 {
    > li {
      > a {
        color: #7f7f7f;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;

        @include link-action('', '', $cor01);
      }
    }
  }
}

.menu__banner {
  flex: 0 0 auto;
}

.icon--menu {
  fill: $cor01;
  height: 15px;
  margin-right: 2px;
  width: 18px;
}
