.showcase-title {
  color: $cor02;
  display: block;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: .5px;
  margin: 30px 0 10px;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  @media(max-width: 991px) {
    margin: 20px 0 10px;
  }
}


.showcase {
  .featured-flag {
    img {
      width: auto;
    }
  }
  .product-image {
    height: 230px;
    position: relative;
    width: 100%;

    > img {
      left: 50%;
      max-height: 230px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto!important;
    }
  }

  .product-name {
    @media(min-width: 768px) {
      margin-top: 15px;
    }

    h3 {
      color: $cor01;
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      margin: 0 0 10px 0;
      min-height: 25px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .preco-de {
    color: $cor02;
    display: inline-block;
    line-height: 14px;
    text-decoration: line-through;
    vertical-align: middle;

    > span {
      color: $cor02;
      font-size: 14px;
      font-weight: 300;
      margin-right: 6px;
    }
  }

  .preco-por {
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;

    > strong {
      color: $cor01;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .parcelamento {
    display: block;
    line-height: normal;
    margin-top: 10px;
    min-height: 24px;

    br:first-of-type {
      display: none;
    }

    * {
      color: $cor02;
      font-size: 14px;
      font-weight: 300;
    }

    strong {
      &, span {
        color: $cor02;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .border {
    border: none;
    border-radius: 5px;
    max-height: 420px;
    min-height: 420px;
    position: relative;

    @media(min-width: 1200px) {
      margin: 5px 0;
    }

    @include transition();

    &.off {
      -webkit-filter: grayscale(90%);
      -moz-filter: grayscale(90%);
      -ms-filter: grayscale(90%);
      -o-filter: grayscale(59%);
      filter: grayscale(90%);
    }
  }

  ul {
    li {
      &:hover {
        @media (min-width: 1200px) {
          .border {
            box-shadow: 1px 1px 7px 0 rgba(32, 30, 30, 1/10);
          }

          .butons-actions {
            opacity: 1;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          }
        }
      }
    }
  }

  .butons-actions {
    font-size: 0;
    margin-top: 15px;
    @media (min-width: 992px) {
      opacity: 0;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      @include transition();
    }
    &.btn-iten2 {
      a, button {
        width: 100%;
      }
    }
    &.btn-iten3 {
      .addCart,
      .to-view {
        width: 50%;
      }
      .buy {
        width: 50%;
      }
      .addCart,
      .to-view {
        span {
          display: none;
        }
      }
    }
    .addCart,
    .to-view {
      @include button(lighten($cor02, 30%), lighten($cor02, 90%));
      @include button-action('', '', lighten($cor02, 30%), lighten($cor02, 80%));
      @include button-action('', 'span', lighten($cor02, 30%), '');
      span {
        @include link($cor02);
      }

    }
    .addCart {
      &:before {
        content: '\f217';
        font-family: FontAwesome;
        font-size: 1.3em;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .to-view {
      &:before {
        content: '\f06e';
        font-family: FontAwesome;
        font-size: 1.3em;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .buy {
      &:after {
        content: '\f105';
        font-family: FontAwesome;
        font-size: 1.3em;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}
