.promotions-lane {
    display: flex;
    flex-wrap: wrap;
}

.newsletter {
  align-items: center;
  background-color: $cor01;
  display: flex;
  flex: 1 1 200px;
  margin-right: 30px;
  padding: 12px 12px 12px 25px;
}

.newsletter__title {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.newsletter__icon {
  fill: white;
  flex: 0 0 auto;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.icon--news {
  height: 40px;
  width: 56px;
}

.newsletter__info {
  flex: 1 1 auto;
}


.newsletter__title {
  align-items: center;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -.1px;
  margin-right: 40px;
  text-transform: uppercase;

  span,
  strong {
    color: white;
    display: block;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
  }

  span {
    font-size: 13px;
    letter-spacing: -.1px;
  }

  strong {
    font-size: 18px;
    letter-spacing: .01px;
  }
}


.newsletter__form {
  align-items: stretch;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex: 1 1 auto;
}

.newsletter__email {
  background-color: transparent;
  border: 0 none;
  color: #666;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  line-height: 16px;
  letter-spacing: .3px;
  outline: none;
  padding: 18px 20px;

  ::-webkit-input-placeholder {
    color: #b0b0b0;
    font-style: italic;
  }

   ::-moz-placeholder {
    color: #b0b0b0;
    font-style: italic;
  }

   :-ms-input-placeholder {
    color: #b0b0b0;
    font-style: italic;
  }

   :-moz-placeholder {
    color: #b0b0b0;
    font-style: italic;
  }

  &:hover,
  &:focus {
    border: 0 none;
  }

}

.promotions-lane {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter__button {
  background-color: transparent;
  border: 0 none;
  color: $cor02;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -.1px;
  text-transform: uppercase;
}

.ruler {
  flex: 0 0 auto;
}

.ruler__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ruler__item {
  align-items: center;
  display: flex;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .ruler__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }

  &:last-child {
    .ruler__dropdown {
      left: auto;
      right: 0;
    }
  }
}

.ruler__title,
.ruler__subtitle {
  display: block;
}

.ruler__title {
  color: #787878;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -.1px;
  text-transform: uppercase;
}

.ruler__subtitle {
  color: #787878;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -.1px;
}

.ruler__dropdown {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 rgba(3, 3, 3, .31);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in-out;
  z-index: 300;
}


.ruler__icon {
  fill: $cor01;
  margin-right: 10px;
}

.ruler__desc {
  color: #787878;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  max-width: 450px;
  width: 100%;
}

.icon--shipping {
  height: 31px;
  width: 49px;
}

.icon--card {
  height: 32px;
  width: 43px;
}

.icon--boleto {
  height: 31px;
  width: 47px;
}
